@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

/* Custom properties */
:root {
  --grid-spacing: 18.9px;
  --opacity: 0.3;
  --grid-color: #7f8c8d;
  --bg-color: #ffffff;
}


body {
  background-color: #f7f7f7;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  font-family: "Outfit", serif;
}

/* CSS Pattern Implementations */
.p-dots {
  background-image: radial-gradient(circle, var(--grid-color) 1.5px, transparent 1.5px);
  background-size: var(--grid-spacing) var(--grid-spacing);
  background-position: center;
}

.p-lines {
  background-image: linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: 100% var(--grid-spacing);
}

.p-grid {
  background-image:
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: var(--grid-spacing) var(--grid-spacing);
}


/* PRINT Logic */
@media print {

  html,
  body {
    background: white !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .grid-background {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    z-index: 1 !important;
  }
}
